<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
    <title>西充农商银行槐树支行短信平台</title>
</head>
<body>
<div class="container">
    <div class="header-container">
        <a href="/customer" class="sui-text-info header-right" >通讯录</a>
    </div>
    <div class="conetent-container">
        <form class="sui-form">
            <textarea rows="10" class="input-block-level" placeholder="请输入短信内容"></textarea>
            <button type="submit" class="sui-btn btn-xlarge btn-primary" style="margin-top: 20px">发送短信</button>
            <button type="reset" class="sui-btn btn-xlarge" style="margin-top: 20px">清空内容</button>
        </form>
    </div>
</div>
</body>
</html>
